<!-- button router -->
<div style="display: grid; grid-template-columns: 1fr 1fr">
  <div>
    <button (click)="gotoPage1()">page1:1</button>
    <button (click)="gotoPage3()">page1:2</button>
  </div>
  <div>
    <button (click)="gotoPage2()">page2:2</button>
    <button (click)="gotoPage4()">page2:1</button>
  </div>
</div>

<div style="display: grid; grid-template-columns: 1fr 1fr">
  <div>
    page1

    <router-outlet name="page1"></router-outlet>
  </div>
  <div>
    page2
    <router-outlet name="page2"></router-outlet>
  </div>
</div>
